* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

header {
   padding: 20px 0 0 0;
   font-size: 20px; 
   display: flex;
   margin: auto;
   background-color: #fdf3fa;
   height: 5vh;
}

header span {
    color: #b3671e;
}

header h2 {
    color: #203354;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.container2 {
    width: 50%;
    display: flex;
    justify-content: center;
}

#icon {
    font-size: 20px;
    color: #b3671e;
    list-style: none;
}

.submenu {
    list-style: none;
}

th,
td {
    color: #203354;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

/* Background image */
.main-img {
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center center;
    height: 50vh;
    margin-top: 10px;
}

/* title section */
.main-img {
    position: relative;
}

.main-title {
    position: absolute;
    height: 40vh;
    width: 100%;
    bottom: 0;
    left: 0;
}

.main-title h2 {
    color: #203354;
    font-size: 40px;
    padding-left: 20px;
    text-transform: uppercase;
}

.main-title h3 {
    color: #203354;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 10px;

}

/* products section */
#products {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.products {
}

.product-title {

}

.product-title h2  {
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    color: #b3671e;
}

.row {
    display: flex;
    
}

.four.columns { width: 30.6666666667%; }

.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}

.info-card  {
    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}